@import "bower_components/normalize-css/normalize";

body:after {
  content: "";
  display: table;
  clear: both;
}

.info-banner {

  overflow: auto;
  background: url("../../img/banner_bg.png") center center no-repeat;
  background-size: cover;

  &__content {
    padding: 20px;
    background-color: white;
    opacity: 0.5;
  }

  &__title,
  &__description {
    font-weight: bold;
    line-height: 1.4;
    color: dark-blue;
    margin: 0 0 20px;
  }

  &__title {
    max-width: 320px;
  }

  &__description {
    max-width: 400px;
  }

  &__cta {
    margin-bottom: 20px;
  }

  &__link {
    padding: 5px;
    text-decoration: none;
    transition: background-color .2s;
  }

}