// Font Faces
$font-headings: "Trebuchet MS", Helvetica, sans-serif;
$font-text: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

// Font Sizes
$size-headings-small: 24px;
$size-headings-large: 28px;
$size-text-small: 14px;
$size-text-large: 16px;
$size-buttons: 14px;

// Colours
$black: #000;
$dark-blue: #071342;
$orange: #e25a37;
$white: #FFF;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$small-desktop: 1024px;
$large-desktop: 1280px;

